AccessModifierOffset: -1
IndentWidth: 4
UseTab: Never
SpacesBeforeTrailingComments: 2
NamespaceIndentation: All
SortIncludes: false
SortUsingDeclarations: false
PointerAlignment: Middle
AlwaysBreakTemplateDeclarations: true
