include LICENSE
include GPLv3
include CHANGELOG.md
include src/libmugrid/*.hh
include src/libmugrid/*.cc
include src/libmufft/*.hh
include src/libmufft/*.cc
include language_bindings/libmugrid/python/*.hh
include language_bindings/libmugrid/python/*.cc
include language_bindings/libmufft/python/*.hh
include language_bindings/libmufft/python/*.cc